html {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body,
.main-content,
.main-footer,
.description,
.galery,
.clients {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-size: 1.8rem;
	font-weight: 300;
	color: hsl(0, 0%, 14%);
}

.main-header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 3vh 4vw;
	background: hsl(240, 2%, 24%) url("../img/top.jpg") no-repeat center;
	background-size: cover;
	color: hsl(0, 0%, 100%);
}

.main-header-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.contacts {
	margin-left: auto;
	text-align: center;
	line-height: 2.2rem;
}

.promo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	text-align: center;
}

.promo h1 {
	/*margin-bottom: 2rem;*/
	font-size: 4.8rem;
	font-weight: normal;
	line-height: 5.8rem;
	color: hsl(52, 100%, 50%);
}

.promo p {
	margin-top: 0;
	font-size: 3rem;
	line-height: 3.6rem;
}

.btn {
	max-width: 40rem;
	height: 5rem;
	margin: auto;
	padding: 1rem 10vw;
	border: none;
	border-radius: 0.5rem;
	line-height: 3rem;
	font-size: 3rem;
	text-align: center;
	text-decoration: none;
	background-color: hsl(52, 100%, 50%);
	color: hsl(0, 0%, 14%);
}

.btn:hover {
	background-color: hsl(52, 100%, 80%);
}

.btn:active {
	background-color: hsl(0, 0%, 100%);
}
